$blue: #1877F2;
$green: #42B72A;

$border-radius: 0;

@import "~bootstrap/scss/bootstrap";

body{
    min-height: 100vh;
}

.home {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.containerKu{
    margin-top: 5%;
    margin-bottom: 5%;
}

.pageContainerKu{
    margin-top: 25px;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: '100%';
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
}

.paginationActive a {
    color: white;
    background-color: #2b2eff;
}

.cardKu {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    margin: 0 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.buttonsSideBySide{
    width: 200;
    margin: 0 auto;
    display: inline;
}

.buttonSideBySide{
    margin-top: 10px;
    margin-right: 10px;
    transition-duration: 0.4s;
}

  
.buttonSideBySide:hover {
    color: white;
}

.badgeStatusWaiting{
    font-size: medium;
    color: #6C757D;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
}

.badgeStatusAktif{
    font-size: medium;
    color: $green;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
}

.badgeStatusNon{
    font-size: medium;
    color: red;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-weight: bold;
}

.badgeStatusWaiting{
    font-size: large;
    color: #6C757D;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
}

.badgeStatusAktifText{
    font-size: large;
    color: $green;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
}

.badgeStatusNonText{
    font-size: large;
    color: red;
    width: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
}

.pagingateKu{
    margin-top: 20px;
}

.inputsRow{
    display: table;
}

.inputRow{
    display: table-cell;
}

.inputCenter{
    text-align: center;
}

.tagPInRow{
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

.tagPTextLeft{
    flex-basis: 49.5%;
    font-weight: bold;
}

.tagPTextRight{
    flex-basis: 49.5%;
}

.iconBack:hover{
    cursor: pointer;
    color: $blue;
}

.parent{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.childLeft{
    flex-basis: 40%;
    font-weight: bold;
}

.childRight{
    flex-basis: 60%;
}

.judul{
    font-weight: bold;
}

.subJudul{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.imageCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.statusKu{
    font-weight: bold;
    font-size: large;
}

.tinyLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loadingKu{
    display: block;
    margin: 0 auto;
    border-color: red;
}

.btnSummary{
    width: 100%;
}

.cardImage{
    background-color: #2b2eff;
}

.containerLogin{
    height: 80vh;
}

.tableContainer{
    overflow-x: auto;
}
.table{
    min-width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: #2b2eff;
}
.table thead tr th{
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dee2e685;
    overflow-x: scroll;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #555;
    background-color: #eee;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dee2e685;
}

.formRupiah{
    width: 50%;
}

.formRupiahNew{
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .cardImage{
        width: 50%;
        height: 10;
        margin-left: auto;
        margin-right: auto;
    }
    .containerKu{
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 4vw;
    }
    h1{
        font-size: 10vw;
    }
    .col{
        min-width: auto;
    }
    .colGanda{
        min-width: fit-content;
    }
    .buttonSideBySide{
        width: 40%;
    }
    .formRupiah{
        width: 100%;
    }
    .paginationBttns {
        width: 80%;
        height: 40px;
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: small;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        background-color: #3c3f44;
        color: #eee;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}